<div class="img-outer">
    <img src="<%=book.image_url%>" alt="">
</div>
<div>
    <h3 class="title">
        <%=book.title%>
    </h3>
</div>
<div>
    <h5 class="author">
        <%=book.author%>
    </h5>
</div>
