<!DOCTYPE html>
<html lang="en">

<%- include("../../layout/head")%>

  <body>

    <%- include("../../layout/header")%>


      <div class="show">
        <h1>Search by Title and Author</h1>
      </div>

      <main class="main">

        <div class="form">
          <form action="/searches" method="POST">

            <input type="text" name="q" placeholder="Anything+title or author">
            <div>
              <label for="author">Author</label>
              <input id="author" type="radio" name="searchBy" value="author">
            </div>
            <div>
              <label for="title">Title</label>
              <input id="title" type="radio" name="searchBy" value="title">
            </div>
            <input type="submit">

          </form>
        </div>
      </main>


      <%- include("../../layout/footer")%>

  </body>

</html>