<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Book Results</title>
</head>

<body>

    <header>
        <h1>Best Book!</h1>
    </header>

    <div class="show">
        <h1><span>
                <%= counter %>
            </span> Saved Books</h1>
    </div>
    <main class="main">
        <% book_data.forEach(data=>{ %>
            <section>
                <%- include('books/detail',{book:data})%>
                <div><a href="/books/<%=data.id%>">Show Details</a></div> 
            </section>
        <% }) %>
    </main>
</body>

</html>