#error {
  width: 100%;
  height: 100%;
}

header{

  display: grid;
  height: 70px;
  background-color: black;
  color: #eae3f3;
  font-size: 34px;
  font-weight: 400;
  line-height: 70px;
  padding-left: 10px;
  grid-template-columns: 3fr 1fr ;  
}
a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: block;
}
nav{
  background-color: #000000be;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #eeeeee;
  position: fixed;
  display: none;
  
}
nav div{
  padding: 10px 0;
  display: block;
}
nav div:hover{
  background-color: rgba(156, 145, 145, 0.774);
}

.a-btn{

  padding: 10px 20% 10px 20%;
  border: solid #eeeeee 1px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #121212;
  color: #eeeeee;
}

body{
  background-color: rgb(217, 223, 230);
}

@media  (min-width: 600px){
  
  .main{
    display: grid;
    justify-content: space-around; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto ; 
  }
  section{
    margin: 5%;
    padding: 2%;
    
  }

  input[type=submit]{
    width: 25%;

  }
  input[type=text]{
    width: 90%;

  }
  
 


}
