<header>
  <h1>Best Book!</h1>
  <div class="burger">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fas fa-bars"></i>
  </a>
  </div>
</header>

<nav id="nav">
  <div>
    <a href="/">Home</a>
  </div>
  <div>
    <a href="/searches/new">Search</a>
  </div>
  

</nav>

<script>

  function myFunction() {

    var x = document.getElementById("nav");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  
  </script>