<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
  <script src="https://kit.fontawesome.com/f0489fec9d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book Results</title>
</head>
